@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Oooh+Baby&family=Pacifico&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Oooh Baby', cursive; */
  /* font-family: 'Kalam', cursive; */
  font-family: 'Pacifico',cursive !important;
  scroll-behavior: smooth !important;
  overflow-y: scroll !important;
  
}
::-webkit-scrollbar{
  display: none
}
@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.singInBtn:hover{
  filter: brightness(90%) !important;
}
.Nopost__div{
  background-image: url(../public/logo512.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  filter:opacity(40%) grayscale(50%);
}
.text__div{
  filter:opacity(100%) !important;
  color: black !important;
}

